* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

/* header */

.logo-img {
    max-width: 100pxpx;
}

.flex {
    display: flex;
}

ul, li {
    list-style:none ;
}

a {
    text-decoration: none;
    color: currentColor;
}

.header {
    padding: 18px;
    align-items: center;
    gap: 20px;
    font-size: 12px;
}

.list-left {
    flex-grow: 1;
    gap: 20px;
}

.list {
    gap: 20px;
}

.button {
    padding: 5px 10px;
    background-color:#0061ff ;
    color: white;
}

/* prima sezione */

.header-main {
    background-color: #b4d0e7 ;
}

.container-large {
    max-width: 1200px;
    margin: 0 auto;
}

.container-large h1 {
    font-size: 80px;
    padding-top: 100px;
}

.row {
    padding-top: 100px;
}

.column-left {
    display: flex;
    flex-direction: column;
    max-width: calc(100% / 3);
    justify-content: space-between;
    align-items: flex-start;
}

.column-left p {
    font-size: 20px;
}

.arrow {
    font-size: 50px;
}

/* seconda sezione */

.container {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 20px;
}

.title-business-plan {
    font-size: 45px;
}

.type-of-pay {
    padding: 40px 0;
}

.mensile {
    margin-right: 40px;
}

/* sviluppo card */

.card {
    border: 1px solid #d1d1d4;
    width: calc(100% / 3);
}

.icon {
    display:block;
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid #d1d1d4;
}

.card-content, .left-col, .right-col {
    padding: 15px;
}

.card-title {
    font-size: 24px;
    padding-bottom: 15px;
}
.card-price {
    font-weight: bold;
}

.card-content span {
    display: block;
}

.offert {
    color: #898584;
}

.info-pack {
    padding: 40px 0;
} 

.info-pack p {
    padding: 15px 0;
}

.card-link {
    text-decoration: underline;
    color: blue;
}

.button-link-card {
    padding-bottom: 50px;
}

.info-promo li::before {
    content: "\2714";
    color: blue;
}

.info-promo-title {
    padding: 40px 0;
}

.card-container h5 {
    padding-bottom: 20px;
    font-size: 20px;
}

.info-promo li {
    padding-bottom: 20px;
}

.col-3 {
    gap: 40px;
}

.card1 {
    border: 1px solid #d1d1d4;
    width: 100%;
    margin-top: 40px;
}

.left-col p {
    padding-top: 40px;
}

.right-col {
    width: calc(100% / 2.5);
}

/* terza sezione */

.img-third-section {
    max-width: calc(100% / 3 * 2);
}

.partner {
    gap: 40px;
}

.button-light {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.description-third-section {
    padding-top: 50px;
}

.description-third-section p {
    padding: 25px 0;
}

/*  */