* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

/* header */

.logo-img {
    max-width: 100pxpx;
}

.flex {
    display: flex;
}

ul, li {
    list-style:none ;
}

a {
    text-decoration: none;
    color: currentColor;
}

.header {
    padding: 18px;
    align-items: center;
    gap: 20px;
    font-size: 12px;
}

.list-left {
    flex-grow: 1;
    gap: 20px;
}

.list {
    gap: 20px;
}

.button {
    padding: 5px 10px;
    background-color:#0061ff ;
    color: white;
}

/* prima sezione */

.header-main {
    background-color: #b4d0e7 ;
}

.container-large {
    max-width: 1200px;
    margin: 0 auto;
}

.container-large h1 {
    font-size: 80px;
    padding-top: 100px;
}

.row {
    padding-top: 60px;
}

.column-left {
    display: flex;
    flex-direction: column;
    max-width: calc(100% / 3);
    justify-content: space-between;
    align-items: flex-start;
}

.column-left p {
    font-size: 20px;
}

.arrow {
    font-size: 50px;
}

/* seconda sezione */

.container {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 20px;
}

.title-business-plan {
    font-size: 45px;
}

.type-of-pay {
    padding: 40px 0;
}

.mensile {
    margin-right: 40px;
}

/* sviluppo card */

.card {
    border: 1px solid #d1d1d4;
    width: calc(100% / 3);
    min-height: 500px;
}

.icon {
    display:block;
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid #d1d1d4;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 24px;
    padding-bottom: 15px;
}
.card-price {
    font-weight: bold;
}

.offert {
    display: block;
    color: #898584;
}